add {
  file: "PATCHES/1000-debrand-some-messages.patch"
}

add {
  file: "PATCHES/openeladup1.x509"
}

add {
  file: "PATCHES/openelakpatch1.x509"
}

add {
  file: "PATCHES/debrand-rh-main.patch"
}

# No replacement necessary, just add it for 9
replace {
  file: "x509.genkey.rhel"
  with_file: "PATCHES/x509.genkey"
}

replace {
  file: "x509.genkey.centos"
  with_file: "PATCHES/x509.genkey"
}

patch {
  file: "PATCHES/0001-Porting-to-9.2-debranding-and-OpenELA-branding.patch"
}

spec_change {
#  append {
#    field: "Release"
#    value: ".0.1"
#  }
  # All changes done in patch
  changelog {
    author_name: "Release Engineering"
    author_email: "releng@openela.org"
    message: "Porting to 9.2, debranding and OpenELA branding with new release pkg (Sherif Nagy)"
    message: "Porting to 9.2, debranding and OpenELA branding (Louis Abel)"
  }
  disable_auto_align: true
}
